.container {
  width: 80%;
  margin: auto;
}

.headingflex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.mynameletter {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-family: "Permanent Marker", cursive;
  font-size: clamp(40px, 5vw, 200px);
  color: rgb(59, 58, 58);
  transition-duration: 0.2s;
}

.mynameletter:hover {
  transform: translateX(-50%);
}

.myrole {
  margin-top: 5px;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: clamp(10px, 2.5vw, 25px);
}

.headinglineflex {
  margin-top: clamp(12px, 2vw, 20px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headinglinebox {
  margin: 0;
  padding: 0;
  background-color: #FFF;
  border: 2px solid black;
  border-radius: 50px;
  width: clamp(10px, 2vw, 15px);
  height: clamp(10px, 2vw, 15px);
}

.headingline {
  padding: 0;
  width: 100%;
  border: 1px solid black;
  background-color: black;
}

.navtab {
  display: flex;
  margin: 0;
  margin-top: clamp(35px, 5vw, 60px);
  width: 95%;
  justify-content: space-between;
}

.navbutton {
  font-family: "Roboto", sans-serif;
  font-size: clamp(15px, 2vw, 70px);
  width: clamp(110px, 20vw, 300px);
  height: clamp(25px, 5vw, 50px);
  border: 1px solid black;
  border-radius: clamp(5px, 1vw, 10px);
  background-color: white;
}

.navbutton:hover {
  background-color: #;
}
